<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Blog Home!</h1>
            <p class="lead mb-0">A Bootstrap 5 starter layout for your next blog homepage</p>
        </div>
    </div>
</header>

<% if (posts.length> 0) { %>
    <div class="container">
        <div class="row">
            <% posts.forEach(function(item,index) {%>


                <div class="col-lg-8 m-auto">
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="http://localhost:3000/uploads/thumbnails/<%= item.thumbnail %>"
                                alt="..."></a>
                        <div class="card-body">
                            <div class="small text-muted">
                                <%= formatDate(item.createdAt) %>
                            </div>
                            <h2 class="card-title">
                                <%= item.title %>
                            </h2>
                            <p class="card-text">
                                <!-- insted of = we use - that can remove tags and view raw body -->
                                <%- trunCate(item.body , 400)   %>
                            </p>
                            <a class="btn btn-primary" href="/post/<%= item._id %>">Read more →</a>
                        </div>
                    </div>


                </div>

                <% }) %>


                  
        </div>
    </div>
    <% } else { %>
        <div class="text-center">
            <h3 class="mt-2">
                there is not any post
            </h3>
        </div>
        <% } %>