<%- include('../includes/navbar') -%>

<div class="container mt-5">
    <div class="row text-center">
        <article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1"><%= post.title %></h1>
        <!-- Post meta content-->
        
        <div class="text-muted fst-italic mb-2">Posted on  <%= formatDate(post.createdAt) %></div>
        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
        <a class="badge bg-secondary text-decoration-none link-light" href="#!"> created by <%= post.user.fullname %></a>
    </header>
    <!-- Preview image figure-->
    <figure class="mb-4">
        <img class="img-fluid rounded" src="https://nilobang.ir/uploads/thumbnails/<%= post.thumbnail %>" alt="...">
    </figure>

    <!-- Post content 9797-->
    <section class="mb-5">
        <p class="fs-5 mb-4"><%- post.body  %></p>
    </section>
</article>
</div>
</div>

<%- include('../includes/footer') -%>
